<div id="<%= dom_id invoice %>">
  <p>
    <strong>Title:</strong>
    <%= invoice.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= invoice.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= invoice.value %>
  </p>

</div>
